@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans Hebrew", sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans Hebrew", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
}

@layer utilities {
  .prose-invert {
    --tw-prose-body: rgb(226 232 240);
    --tw-prose-headings: rgb(255 255 255);
    --tw-prose-links: rgb(226 232 240);
  }
}
